@import "../../variables.scss";


.confirmCont {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.confirmCard {
    display: flex;
    width: 500px;
    background-color: $yellow;
    border-radius: 16px;
}

.confirmTitle {
    width: fit-content;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 26px;
}

.confirmText {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.confirmTextName {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
}

.confirmButtonDiv {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    justify-content: center;
}

.confirmButton {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    width: 120px;
    color: #495e57 !important;
    background-color: #f4ce14 !important;
    outline: #495e57 solid 2px;
    font-size: 18px;
    font-weight: 400;
    justify-self: center;
}

.reserveButton:hover {
    color: #f4ce14 !important;
    background-color: #495e57 !important;
    outline: #f4ce14 solid 2px;
    transform: scale(1.03);
}