@import "../../variables.scss";

.navbar {
    width: 100vw;
    background-color: #060C23;
}
.container-fluid {
    padding-left: 100px;
    padding-right: 100px;
}

.headertext {
    color: $yellow !important;
    font-size: 26px;
}

.headertext:hover {
    color: $white !important;
}

.navlinks {
    justify-content: space-between;

    .headerlink {
        margin-left: 15px;
        margin-right: 15px;
        color: $yellow !important;
        text-decoration: none;
    }

    .headerlink:hover {
        color: $white !important;
        transform: scale(1.05);
        transition: 150ms;
    }
}
