@import "../../variables.scss";

.navbar {
    background-color: $green;
}

.headertext:hover {
    color: $yellow !important;
    transition: 350ms;
}

.headertext:active {
    color: $yellow !important;
}


.navlinks {
    .headerlink {
        text-decoration: none;
        color: #EFEFEF;
    }
    width: 12vw;
    justify-content: space-between;
}

.NavContainer {
    margin: 0vw;
}