@import "../../variables.scss";


.headertext:hover {
    color: $white !important;
    transition: 350ms;
}

.headertext {
    color: $yellow !important;
}

.navlinks {
    .headerlink {
        text-decoration: none;
    }
    width: 12vw;
    justify-content: space-between;
}
