* {
    margin: 0;
    padding: 0;
}


/* HERO SECTION */
.heroSectionDiv {
  width: 100vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  display: inline-block;
}

.heroPara {
  display: inline-block;
}

.restImage {
  /* width: 500px;
  height: 300px; */
  float: left;
}

.heroContInfo {
  height: 40vh;
  width: 40vw !important;
}

.heroContImg {
  height: 40vh;
  width: 40vw !important;
}

.reserveBtn {
  color: #495E57 !important;
  background-color: #F4CE14 !important;
  margin-top: 70px;
}


/* SPECIAL SECTION */
.specialSectionDiv {
  width: 100vw;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.specialSectionCol {
  height: fit-content;
}

.specialSectionCard {
  width: 13vw;
  height: 35vh !important;
  background-color: white !important;
  color: #495E57 !important;
  box-shadow: 0 0 7px black;
  border-radius: 15%;
}

.specialSectionCardTitle {
  text-align: center;
}

.specialSectionCardImg {
  height: 17vh;
}

.specialSectionCardText {
  padding-left: 10px;
  padding-right: 10px;
}


/* Review Section */
.reviewSection {
  width: 100vw;
  height: fit-content;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #354540;
}

.reviewCont {
  width: 70vw;
  height: 50vh;
}

.carousel {
  width: 50vw;
  height: 50vh;
  margin: auto;
  align-self: center;
}

.carouselImg {
  margin: auto;
  align-self: center;
}


/* About Section */

.aboutSection {
  width: 100vw;
  height: fit-content;
  padding-top: 2vh;
  padding-bottom: 2vh;
}